{% extends 'layout.html' %}
{% block body %}

<section class="pl-5 pr-5 pt-2">
  <h1 class="text-center">Non-Fiction</h1>

  <p>Nonfiction is an account or representation of a subject which is presented as fact. This presentation may be
    accurate or not; that is, it can give either a true or a false account of the subject in question. However, it is
    generally assumed that the authors of such accounts believe them to be truthful at the time of their composition.
    Note that reporting the beliefs of others in a nonfiction format is not necessarily an endorsement of the ultimate
    veracity of those beliefs, it is simply saying that it is true that people believe that (for such topics as
    mythology, religion). Nonfiction can also be written about fiction, giving information about these other works.</p>

  <div>
    <ul style="list-style-type: none">
      <li><a href="/nonFictionBookOne">Outer Order, Inner Calm</a></li>
      <li><a href="/nonFictionBookTwo">Long Live the Tribe of Fatherless Girls</a></li>
      <li><a href="/nonFictionBookThree">Burnout: The Secret to Unlocking the Stress Cycle</a></li>
    </ul>
  </div>
</section>

{% endblock %}