{% extends 'layout.html' %}
{% block body %}

<section class="pl-5 pr-5 pt-2">
  <h1 class="text-center">Poetry</h1>
  
  <h2>Shout <br> by Laurie Halse Anderson (Goodreads Author) </h2>

  <p class="font-weight-bold">A searing poetic memoir and call to action from the bestselling and award-winning author of Speak, Laurie Halse Anderson!</p>

  <p>Bestselling author Laurie Halse Anderson is known for the unflinching way she writes about, and advocates for,
    survivors of sexual assault. Now, inspired by her fans and enraged by how little in our culture has changed since
    her groundbreaking novel Speak was first published twenty years ago, she has written a poetry memoir that is as
    vulnerable as it is rallying, as timely as it is timeless. In free verse, Anderson shares reflections, rants, and
    calls to action woven between deeply personal stories from her life that she's never written about before. Searing
    and soul-searching, this important memoir is a denouncement of our society's failures and a love letter to all the
    people with the courage to say #metoo and #timesup, whether aloud, online, or only in their own hearts. Shout
    speaks truth to power in a loud, clear voice-- and once you hear it, it is impossible to ignore.</p>

</section>

{% endblock %}